{% extends 'base_site.html' %}

{% block title %}Student List | EdunoX{% endblock %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Students</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
<style>
    .filter-by-class .menu-icon{
        display: none;
    }
    .filter-by-class.active .menu-icon{
        display: block;
    }
</style>
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-semibold leading-none text-gray-900">All Students</h1>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-light" href="#">Upload CSV</a>
        </div>
    </div>
</div>

<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2">
                 <div class="flex">
                    <label class="input input-sm">
                        <i class="ki-filled ki-magnifier"></i>
                        <input class="student_search" placeholder="Search by name" type="text" value="" name="student_search">
                    </label>
                </div>
                <div class="flex flex-wrap gap-2 lg:gap-5">
                    <div class="flex flex-wrap gap-2.5">
                        <div class="menu" data-menu="true">
                            <div class="menu-item menu-item-dropdown" data-menu-item-offset="0, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                                <button class="menu-toggle btn btn-light btn-clear"><i class="ki-filled ki-filter"></i> Filter by Class</button>
                                <div class="menu-dropdown menu-default w-full max-w-[200px]" data-menu-dismiss="true">
                                    <div class="menu-item">
                                        <button class="menu-link filter-by-class" data-id="">
                                            <span class="menu-icon"><i class="ki-filled ki-setting-3"></i></span>
                                            <span class="menu-title">All</span>
                                        </button>
                                    </div>
                                    {% for class in classes %}
                                        <div class="menu-item">
                                            <button class="menu-link filter-by-class" data-id="{{ class.id }}">
                                                <span class="menu-icon"><i class="ki-filled ki-tick"></i></span>
                                                <span class="menu-title">{{ class.name }}</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                <div id="student_by_class">
                    {% include 'account/includes/student_table.html' %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <button class="btn btn-primary" data-modal-toggle="#student_details">Show Modal</button> -->
<div class="modal" data-modal="false" id="student_details">
    <div class="modal-content max-w-[600px] top-[20%]">
        <div class="modal-header">
            <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
                <i class="ki-outline ki-cross"></i>
            </button>
        </div>
        <div class="modal-body" id="student_details_content">
            
        </div>
    </div>
</div>
{% endblock content %}



{% block extra_js %}
    <script>
        $(document).ready(function(e){
            $('.student_search').val('');
            function initializeDatatable() {
                const datatableEl = document.querySelector('#student_table');
                const options = {
                    pageSize: 20,
                    stateSave: true
                };
                return new KTDataTable(datatableEl, options);
            }
            let datatable = initializeDatatable();
            var class_id = ''
            var text = ''
            
            $('.filter-by-class').click(function(e){
                e.preventDefault();
                var button = $(this);
                var classId = button.data('id');
                class_id = classId;
                $.ajax({
                    type: 'GET',
                    url: '{% url "student_by_class" %}',
                    data: {
                        'class_id': classId,
                        'text': text
                    },
                    success: function(res){
                        button.parent().siblings().find('.filter-by-class').removeClass('active');
                        button.addClass('active');
                        $('#student_by_class').empty();
                        $('#student_by_class').html(res.html);
                        initializeDatatable();

                    }

                });
            });

            $('.student_search').keyup(function(){
                var texts = $(this).val();
                text = texts
                $.ajax({
                    type: 'GET',
                    url: '{% url "student_by_name" %}',
                    data: {
                        'class_id': class_id,
                        'texts': texts
                    },
                    success: function(res){
                        $('#student_by_class').empty();
                        $('#student_by_class').html(res.html);
                        initializeDatatable();
                    }
                });
            });

            const modalEl = document.querySelector('#student_details');
            const modal = new KTModal(modalEl);

            $(document).on('click', '.viwe_student', function(){
                var studentId = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '{% url "student_details" %}',
                    data: {
                        'student_id': studentId
                    },
                    success: function(res){
                        console.log(res);
                        modal.show();
                    }
                });                
            });
        });
    </script>
{% endblock extra_js %}
    