{% extends 'base_site.html' %}

{% block title %}Teacher List | EdunoX{% endblock %}
{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Add User</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-semibold leading-none text-gray-900">All Teachers</h1>
            <!-- <div class="flex items-center gap-2 text-sm font-medium text-gray-600">Central Hub for Personal Customization</div> -->
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-light" href="#">Upload CSV</a>
            <a class="btn btn-sm btn-primary" href="{% url 'teacher_add' %}">Add User</a>
        </div>
    </div>
</div>

<div class="container-fixed">
    <div class="grid gap-5 lg:gap-7.5">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2">
                <h3 class="card-title font-medium text-sm">{{ total_teacher }} users</h3>
                <div class="flex flex-wrap gap-2 lg:gap-5">
                    <div class="flex">
                        <label class="input input-sm">
                            <i class="ki-filled ki-magnifier">
                            </i>
                            <input placeholder="Search users" type="text" value="">
                            </input>
                        </label>
                    </div>
                    <div class="flex flex-wrap gap-2.5">
                        <select class="select select-sm w-28">
                            <option value="1">
                                Active
                            </option>
                            <option value="2">
                                Disabled
                            </option>
                            <option value="2">
                                Pending
                            </option>
                        </select>
                        <select class="select select-sm w-28">
                            <option value="1">
                                Latest
                            </option>
                            <option value="2">
                                Older
                            </option>
                            <option value="3">
                                Oldest
                            </option>
                        </select>
                        <button class="btn btn-sm btn-outline btn-primary">
                            <i class="ki-filled ki-setting-4">
                            </i>
                            Filters
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div data-datatable="false" id="teacher_table">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[300px]">
                                        <span class="sort asc">
                                            <span class="sort-label"> Teacher</span>
                                            <span class="sort-icon"></span>
                                        </span>
                                    </th>
                                    <th class="min-w-[180px]">Educational Qualification</th>
                                    <th class="min-w-[180px]">
                                        <span class="sort">
                                            <span class="sort-label">Status</span>
                                            <span class="sort-icon"></span>
                                        </span>
                                    </th>
                                    
                                    <th class="w-[60px]">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <td>
                                            <div class="flex items-center gap-2.5">
                                                <img alt="" class="rounded-full size-9 shrink-0" src="/static/media/avatars/300-1.png" />
                                                <div class="flex flex-col">
                                                    <span class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px">{{ teacher.get_full_name }}</span>
                                                    <a class="text-2sm font-medium text-gray-600 hover:text-primary-active"href="#">{{ teacher.email }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ teacher.teacher_profile.qualification }}</td>
                                        <td>
                                            <span class="badge badge-danger badge-outline rounded-[30px]">
                                                <span class="size-1.5 rounded-full bg-danger me-1.5"></span>
                                                On Leave
                                            </span>
                                        </td>
                                        
                                        <td class="text-center">
                                            <div class="menu flex-inline" data-menu="true">
                                                <div class="menu-item" data-menu-item-offset="0, 10px"
                                                    data-menu-item-placement="bottom-end"
                                                    data-menu-item-toggle="dropdown"
                                                    data-menu-item-trigger="click|lg:click">
                                                    <button
                                                        class="menu-toggle btn btn-sm btn-icon btn-light btn-clear">
                                                        <i class="ki-filled ki-dots-vertical">
                                                        </i>
                                                    </button>
                                                    <div class="menu-dropdown menu-default w-full max-w-[175px]"
                                                        data-menu-dismiss="true">
                                                        <div class="menu-item">
                                                            <a class="menu-link" href="#">
                                                                <span class="menu-icon">
                                                                    <i class="ki-filled ki-search-list">
                                                                    </i>
                                                                </span>
                                                                <span class="menu-title">
                                                                    View
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="menu-item">
                                                            <a class="menu-link" href="#">
                                                                <span class="menu-icon">
                                                                    <i class="ki-filled ki-file-up">
                                                                    </i>
                                                                </span>
                                                                <span class="menu-title">
                                                                    Export
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="menu-separator">
                                                        </div>
                                                        <div class="menu-item">
                                                            <a class="menu-link" href="#">
                                                                <span class="menu-icon">
                                                                    <i class="ki-filled ki-pencil">
                                                                    </i>
                                                                </span>
                                                                <span class="menu-title">
                                                                    Edit
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="menu-item">
                                                            <a class="menu-link" href="#">
                                                                <span class="menu-icon">
                                                                    <i class="ki-filled ki-copy">
                                                                    </i>
                                                                </span>
                                                                <span class="menu-title">
                                                                    Make a copy
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="menu-separator">
                                                        </div>
                                                        <div class="menu-item">
                                                            <a class="menu-link" href="#">
                                                                <span class="menu-icon">
                                                                    <i class="ki-filled ki-trash">
                                                                    </i>
                                                                </span>
                                                                <span class="menu-title">
                                                                    Remove
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}                                    
                                
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="card-footer justify-center md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2 order-2 md:order-1">Show
                            <select class="select select-sm w-16" data-datatable-size="true" name="perpage"></select> per page
                        </div>
                        <div class="flex items-center gap-4 order-1 md:order-2">
                            <span data-datatable-info="true">
                            </span>
                            <div class="pagination" data-datatable-pagination="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



{% block extra_js %}
    <script>
        const datatableEl = document.querySelector('#teacher_table');
        const options = {
            pageSize: 10,
            stateSave: true
        };
        const datatable = new KTDataTable(datatableEl, options);

        datatable.on('init', () => {
            console.log('init event');
        });

        datatable.on('draw', () => {
            console.log('draw event');
        });
    </script>
{% endblock extra_js %}
    