{% extends 'base_site.html' %}

{% block title %}Add Teacher{% endblock %}

{% block content %}
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-2xl font-semibold leading-none text-gray-900 mb1.5">Add New Teacher</h1>
            </div>
        </div>

        <form method="post" novalidate="novalidate">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <span class="text-danger">{{ form.non_field_errors }}</span>
            {% endif %}
            <div class="grid grid-cols-3 gap-5 lg:gap-7.5">
                <div class="col-span-1">
                     <div class="card card-grid min-w-full">
                        <div class="card-header">
                            <h3 class="card-title font-medium text-sm">Authentication Details</h3>
                        </div>
                    </div>
                </div>
                <div class="col-span-2">
                    <div class="card min-w-full">
                        <div class="card-header">
                            <h2 class="card-title font-medium text-sm">Authentication Details</h2>
                        </div>
                        <div class="card-body   ">
                            <div>
                                <label for="{{ form.username.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.username.label }}<span class="text-danger">*</span></label>
                                {{ form.username }}
                                <span class="text-danger">{{ form.username.errors }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card min-w-full mt-4">
                        <div class="card-header">
                            <h2 class="card-title font-medium text-sm">Personal Details</h2>
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="{{ form.first_name.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.first_name.label }}<span class="text-danger">*</span></label>
                                {{ form.first_name }}
                                <span class="text-danger">{{ form.first_name.errors }}</span>
                            </div>

                            <div class="mt-4">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.last_name.label }}<span class="text-danger">*</span></label>
                                {{ form.last_name }}
                                <span class="text-danger">{{ form.last_name.errors }}</span>
                            </div>

                            <div class="mt-4">
                                <label for="{{ form.email.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.email.label }}<span class="text-danger">*</span></label>
                                {{ form.email }}
                                <span class="text-danger">{{ form.email.errors }}</span>
                            </div>

                            <div class="mt-4">
                                <label for="{{ form.phone.id_for_label }}" class="form-label flex items-center gap-1 mb-2 capitalize">{{ form.phone.label }}<span class="text-danger">*</span></label>
                                {{ form.phone }}
                                <span class="text-danger">{{ form.phone.errors }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
                <div>
                    <label for="{{ form.first_name.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.first_name.label }}<span class="text-danger">*</span></label>
                    {{ form.first_name }}
                    <span class="text-danger">{{ form.first_name.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.last_name.label }}<span class="text-danger">*</span></label>
                    {{ form.last_name }}
                    <span class="text-danger">{{ form.last_name.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.username.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.username.label }}<span class="text-danger">*</span></label>
                    {{ form.username }}
                    <span class="text-danger">{{ form.username.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.email.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.email.label }}<span class="text-danger">*</span></label>
                    {{ form.email }}
                    <span class="text-danger">{{ form.email.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.qualification.id_for_label }}" class="form-label flex items-center gap-1 mb-2 capitalize">{{ form.qualification.label }}<span class="text-danger">*</span></label>
                    {{ form.qualification }}
                    <span class="text-danger">{{ form.qualification.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.phone.id_for_label }}" class="form-label flex items-center gap-1 mb-2 capitalize">{{ form.phone.label }}<span class="text-danger">*</span></label>
                    {{ form.phone }}
                    <span class="text-danger">{{ form.phone.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.gender.id_for_label }}" class="form-label flex items-center gap-1 mb-2 capitalize">{{ form.gender.label }}<span class="text-danger">*</span></label>
                    {{ form.gender }}
                    <span class="text-danger">{{ form.gender.errors }}</span>
                </div>
                <div>
                    <label for="{{ form.address.id_for_label }}" class="form-label flex items-center gap-1 mb-2 capitalize">{{ form.address.label }}<span class="text-danger">*</span></label>
                    {{ form.address }}
                    <span class="text-danger">{{ form.address.errors }}</span>
                </div>
                <div class="col-span-2">
                    <label for="{{ form.bio.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.bio.label }}<span class="text-danger">*</span></label>
                    {{ form.bio }}
                    <span class="text-danger">{{ form.bio.errors }}</span>
                </div>
                <div class="col-span-2">
                    <button class="btn btn-primary">ADD</button>
                </div>
            </div>
            
        </form>
        
    </div>
{% endblock content %}