{% extends 'base_site.html' %}

{% block title %}Classes | Edunox{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Classes</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900">All Classes</h1>
            </div>
        </div>
    </div>

    <div class="container-fixed">
        <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">
            <div class="flex flex-col gap-5 lg:gap-7.5" id="team_crew_card">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
                    {% for grade in grades %}
                        <div class="card">
                            <div class="card-body lg:pt-9 lg:pb-7.5">
                                <h2 class="text-2xl font-semibold leading-none text-gray-900 text-center mb-7">{{ grade.name }}</h2>
                                <div class="flex items-center justify-center flex-wrap gap-2 lg:gap-5">
                                    <div class="grid grid-cols-1 gap-1.5 border-[0.5px] border-dashed border-gray-400 rounded-md px-2.5 py-2 shrink-0 min-w-24 max-w-auto">
                                        <span class="text-gray-900 text-2sm leading-none font-medium">{{ grade.total_student }}</span>
                                        <span class="text-gray-700 text-xs">Students</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer justify-center">
                                <a href="{% url 'class_details' grade.pk %}" class="btn btn-primary btn-sm">View Details</a>
                                <a href="{% url 'attendance_add' grade.pk %}">Add Attendance</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>    
{% endblock content %}


{% block extra_js %}
    <script>
        const datatableEl = document.querySelector('#subject_table');
        const options = {
            pageSize: 10,
            stateSave: true
        };
        const datatable = new KTDataTable(datatableEl, options);

        $(document).ready(function() {

        });
       
    </script>
{% endblock extra_js %}