{% extends 'base_site.html' %}

{% block title %}Subjects | Edunox{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Subjects</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Add Subjects</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900">Add New Subject</h1>
            </div>
        </div>
    </div>

    <div class="container-fixed">
        <div class="grid gap-5 lg:gap-7.5">
            <div class="card min-w-full">
                <div class="card-body">
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="grid grid-cols-3 gap-5">
                            <div>
                                <label for="{{ form.class_obj.id_for_label }}" class="form-label flex items-center gap-1 max-w-32 mb-2 capitalize">{{ form.class_obj.label }}<span class="text-danger">*</span></label>
                                {{ form.class_obj }}
                                <span class="text-danger">{{ form.class_obj.errors }}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content %}


{% block extra_js %}
    <script>
        const datatableEl = document.querySelector('#subject_table');
        const options = {
            pageSize: 10,
            stateSave: true
        };
        const datatable = new KTDataTable(datatableEl, options);

        $(document).ready(function() {

        });
       
    </script>
{% endblock extra_js %}