<!DOCTYPE html>
<html class="h-full" data-theme="true" data-theme-mode="light" lang="en">
    <head>
        <base href="../../">
    <title>{% block title %}EdunoX{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link href="/static/media/app/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <link href="/static/media/app/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="/static/media/app/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
    <link href="/static/media/app/favicon.ico" rel="shortcut icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
    <link href="/static/vendors/apexcharts/apexcharts.css" rel="stylesheet"/>
    <link href="/static/vendors/keenicons/styles.bundle.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .errorlist{
            font-size: 12px;
            font-weight: lighter;
        }
        #id_gender{
            display: flex;
            gap: 30px;
        }
        #id_gender label{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
    </head>
 <body class="flex h-full demo1 sidebar-fixed header-fixed bg-[#fefefe] dark:bg-coal-500">
  <!--begin::Theme mode setup on page load-->
  <script>
   const defaultThemeMode = 'light'; // light|dark|system
		let themeMode;

		if ( document.documentElement ) {
			if ( localStorage.getItem('theme')) {
					themeMode = localStorage.getItem('theme');
			} else if ( document.documentElement.hasAttribute('data-theme-mode')) {
				themeMode = document.documentElement.getAttribute('data-theme-mode');
			} else {
				themeMode = defaultThemeMode;
			}

			if (themeMode === 'system') {
				themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			}

			document.documentElement.classList.add(themeMode);
		}
  </script>
  <!--end::Theme mode setup on page load-->
  <!--begin::Page layout-->
  
   
   {% block main %}
    
   {% endblock main %}
    

  <!--end::Page layout-->
  <!--begin::Page scripts-->
  <script src="/static/js/core.bundle.js">
  </script>
  <script src="/static/vendors/apexcharts/apexcharts.min.js">
  </script>
  <script src="/static/js/widgets/general.js">
  </script>
  <script src="/static/js/layouts/demo1.js">
  </script>
  <!--end::Page scripts-->
  {% block extra_js %}
    
{% endblock extra_js %}
 </body>
</html>
