{% extends 'base.html' %}
{% load acc_filter %}


{% block main %}
<div class="flex grow">
    <div class="sidebar dark:bg-coal-600 bg-light border-r border-r-gray-200 dark:border-r-coal-100 fixed top-0 bottom-0 z-20 hidden lg:flex flex-col items-stretch shrink-0" data-drawer="true" data-drawer-class="drawer drawer-start top-0 bottom-0" data-drawer-enable="true|lg:false" id="sidebar">
        <div class="sidebar-header hidden lg:flex items-center relative justify-between px-3 lg:px-6 shrink-0" id="sidebar_header">
            <a class="dark:hidden" href="{% url 'dashboard' %}">
                <img class="default-logo min-h-[22px] max-w-none" src="/static/media/app/default-logo.svg"/>
                <img class="small-logo min-h-[22px] max-w-none" src="/static/media/app/mini-logo.svg"/>
            </a>
            <a class="hidden dark:block" href="{% url 'dashboard' %}">
                <img class="default-logo min-h-[22px] max-w-none" src="/static/media/app/default-logo-dark.svg"/>
                <img class="small-logo min-h-[22px] max-w-none" src="/static/media/app/mini-logo.svg"/>
            </a>
            <button class="btn btn-icon btn-icon-md size-[30px] rounded-lg border border-gray-200 dark:border-gray-300 bg-light text-gray-500 hover:text-gray-700 toggle absolute left-full top-2/4 -translate-x-2/4 -translate-y-2/4" data-toggle="body" data-toggle-class="sidebar-collapse" id="sidebar_toggle">
                <i class="ki-filled ki-black-left-line toggle-active:rotate-180 transition-all duration-300"></i>
            </button>
        </div>

        <div class="sidebar-content flex grow shrink-0 py-5 pr-2" id="sidebar_content">
            <div class="scrollable-y-hover grow shrink-0 flex pl-2 lg:pl-5 pr-1 lg:pr-3" data-scrollable="true" data-scrollable-dependencies="#sidebar_header" data-scrollable-height="auto" data-scrollable-offset="0px" data-scrollable-wrappers="#sidebar_content" id="sidebar_scrollable">
                <div class="menu flex flex-col grow gap-0.5" data-menu="true" data-menu-accordion-expand-all="false" id="sidebar_menu">
                    {% with request.resolver_match.url_name as url %}
                        <div class="menu-item {% if url == 'dashboard' %}active{% endif %} ">
                            <a href="{% url 'dashboard' %}" class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]" tabindex="0">
                                <span class="menu-icon items-start text-gray-500 dark:text-gray-400 w-[20px]"><i class="ki-filled ki-element-11 text-lg"></i></span>
                                <span class="menu-title text-sm font-semibold text-gray-700 menu-item-active:text-primary menu-link-hover:!text-primary">Dashboards</span>
                            </a>
                        </div>

                        {% if user|has_perm:"add_user" or user|has_perm:"edit_user" %}
                            <div class="menu-item menu-item-accordion {% if url == 'teacher_list' or url == 'teacher_add' %}here show{% endif %}" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                                <div class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]" tabindex="0">
                                    <span class="menu-icon items-start text-gray-500 dark:text-gray-400 w-[20px]"><i class="ki-filled ki-profile-circle text-lg"></i></span>
                                    <span class="menu-title text-sm font-semibold text-gray-700 menu-item-active:text-primary menu-link-hover:!text-primary">Teachers</span>
                                    <span class="menu-arrow text-gray-400 w-[20px] shrink-0 justify-end ml-1 mr-[-10px]">
                                        <i class="ki-filled ki-plus text-2xs menu-item-show:hidden"></i>
                                        <i class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"></i>
                                    </span>
                                </div>
                                <div class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-200">
                                    {% if user|has_perm:"view_user" %}
                                        <div class="menu-item {% if url == 'teacher_list' %}active{% endif %}">
                                            <a href="{% url 'teacher_list' %}" class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg" tabindex="0">
                                                <span class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"></span>
                                                <span class="menu-title text-2sm font-medium text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">All Teachers</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    {% if user|has_perm:"add_user" %}
                                        <div class="menu-item {% if url == 'teacher_add' %}active{% endif %}">
                                            <a href="{% url 'teacher_add' %}" class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg" tabindex="0">
                                                <span class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"></span>
                                                <span class="menu-title text-2sm font-medium text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">Add New Teacher</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if user|has_perm:"add_user" or user|has_perm:"edit_user" %}
                            <div class="menu-item menu-item-accordion {% if url == 'student_list' or url == 'student_add' %}here show{% endif %}" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                                <div class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]" tabindex="0">
                                    <span class="menu-icon items-start text-gray-500 dark:text-gray-400 w-[20px]"><i class="ki-filled ki-profile-circle text-lg"></i></span>
                                    <span class="menu-title text-sm font-semibold text-gray-700 menu-item-active:text-primary menu-link-hover:!text-primary">Students</span>
                                    <span class="menu-arrow text-gray-400 w-[20px] shrink-0 justify-end ml-1 mr-[-10px]">
                                        <i class="ki-filled ki-plus text-2xs menu-item-show:hidden"></i>
                                        <i class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"></i>
                                    </span>
                                </div>
                                <div class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-200">
                                    <div class="menu-item {% if url == 'student_list' %}active{% endif %}">
                                        <a href="{% url 'student_list' %}" class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg" tabindex="0">
                                            <span class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"></span>
                                            <span class="menu-title text-2sm font-medium text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">All Students</span>
                                        </a>
                                    </div>
                                    {% if user|has_perm:"add_user" %}
                                        <div class="menu-item {% if url == 'student_add' %}active{% endif %}">
                                            <a href="{% url 'student_add' %}" class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg" tabindex="0">
                                                <span class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"></span>
                                                <span class="menu-title text-2sm font-medium text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">Add New Student</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if user|has_perm:"add_grade" or user|has_perm:"edit_grade" %}
                            <div class="menu-item menu-item-accordion {% if url == 'class_list' %}here show{% endif %}" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                                <div class="menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] pl-[10px] pr-[10px] py-[6px]" tabindex="0">
                                    <span class="menu-icon items-start text-gray-500 dark:text-gray-400 w-[20px]"><i class="ki-filled ki-profile-circle text-lg"></i></span>
                                    <span class="menu-title text-sm font-semibold text-gray-700 menu-item-active:text-primary menu-link-hover:!text-primary">Classes</span>
                                    <span class="menu-arrow text-gray-400 w-[20px] shrink-0 justify-end ml-1 mr-[-10px]">
                                        <i class="ki-filled ki-plus text-2xs menu-item-show:hidden"></i>
                                        <i class="ki-filled ki-minus text-2xs hidden menu-item-show:inline-flex"></i>
                                    </span>
                                </div>
                                {% if user|has_perm:"add_grade" %}
                                    <div class="menu-accordion gap-0.5 pl-[10px] relative before:absolute before:left-[20px] before:top-0 before:bottom-0 before:border-l before:border-gray-200">
                                        <div class="menu-item {% if url == 'class_list' %}active{% endif %}">
                                            <a href="{% url 'class_list' %}" class="menu-link gap-[14px] pl-[10px] pr-[10px] py-[8px] border border-transparent items-center grow menu-item-active:bg-secondary-active dark:menu-item-active:bg-coal-300 dark:menu-item-active:border-gray-100 menu-item-active:rounded-lg hover:bg-secondary-active dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg" tabindex="0">
                                                <span class="menu-bullet flex w-[6px] relative before:absolute before:top-0 before:size-[6px] before:rounded-full before:-translate-x-1/2 before:-translate-y-1/2 menu-item-active:before:bg-primary menu-item-hover:before:bg-primary"></span>
                                                <span class="menu-title text-2sm font-medium text-gray-700 menu-item-active:text-primary menu-item-active:font-semibold menu-link-hover:!text-primary">All Classes</span>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        {% endif %}

                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper flex grow flex-col">
        <header class="header fixed top-0 z-10 left-0 right-0 flex items-stretch shrink-0 bg-[#fefefe] dark:bg-coal-500" data-sticky="true" data-sticky-class="shadow-sm dark:border-b dark:border-b-coal-100" data-sticky-name="header" id="header">
        <!-- begin: container -->
            <div class="container-fixed flex justify-between items-stretch lg:gap-4" id="header_container">
                <div class="flex gap-1 lg:hidden items-center -ml-1">
                    <a class="shrink-0" href="html/demo1.html"><img class="max-h-[25px] w-full" src="/static/media/app/mini-logo.svg"></a>
                    <div class="flex items-center">
                        <button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#sidebar">
                            <i class="ki-filled ki-menu"></i>
                        </button>
                        <button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#megamenu_wrapper">
                            <i class="ki-filled ki-burger-menu-2"></i>
                        </button>
                    </div>
                </div>
                
                {% block breadcrumb %}
                    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
                        <span class="text-gray-600">Dashboard</span>
                        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
                    </div>
                {% endblock breadcrumb %}
                    
                
                <div class="flex items-center gap-2 lg:gap-3.5">
                    <div class="menu" data-menu="true">
                        <div class="menu-item" data-menu-item-offset="20px, 10px" data-menu-item-placement="bottom-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                            <div class="menu-toggle btn btn-icon rounded-full">
                                <img alt="" class="size-9 rounded-full border-2 border-success shrink-0" src="/static/media/avatars/300-2.png">
                            </div>

                            <div class="menu-dropdown menu-default light:border-gray-300 w-full max-w-[250px]">
                                <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
                                    <div class="flex items-center gap-2">
                                        <img alt="" class="size-9 rounded-full border-2 border-success" src="/static/media/avatars/300-2.png">
                                        <div class="flex flex-col gap-1.5">
                                            <span class="text-sm text-gray-800 font-semibold leading-none">{{ request.user.get_full_name }}</span>
                                            <a class="text-xs text-gray-600 hover:text-primary font-medium leading-none" href="html/demo1/account/home/get-started.html">{{ request.user.email }}</a>
                                        </div>
                                    </div>
                                    <span class="badge badge-xs badge-primary badge-outline">Pro</span>
                                </div>
                                <div class="menu-separator"></div>
                                <div class="menu-item mb-0.5">
                                <div class="menu-link">
                                    <span class="menu-icon"><i class="ki-filled ki-moon"></i></span>
                                    <span class="menu-title">Dark Mode</span>
                                    <label class="switch switch-sm"><input data-theme-state="dark" data-theme-toggle="true" name="check" type="checkbox" value="1"></label>
                                </div>
                                <div class="menu-item px-4 py-1.5">
                                    <a class="btn btn-sm btn-light justify-center" href="{% url 'logout' %}">Log out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end: container -->
        </header>
        <main class="grow content pt-5" id="content" role="content">
            <div class="container-fixed">
                {% if messages %}
                    {% for message in messages %}
                        <div class="bg-{{ message.tag }} p-2 mb-5 text-light ">
                            {{ message }}
                        </div>
                    {% endfor %} 
                {% endif %}
            </div>
            {% block content %}
                
            {% endblock content %}
                
        </main>
        <footer class="footer">
            <!-- begin: container -->
            <div class="container-fixed">
                <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5">
                    <div class="flex order-2 md:order-1 gap-2 font-normal text-2sm">
                            <span class="text-gray-500">2024©</span>
                            <a class="text-gray-600 hover:text-primary" href="#">EdunoX</a>
                    </div>
                    <nav class="flex order-1 md:order-2 gap-4 font-normal text-2sm text-gray-600">
                            <a class="hover:text-primary" href="https://keenthemes.com/metronic/tailwind/docs">Docs</a>
                    </nav>
                </div>
            </div>
            <!-- end: container -->
        </footer>
   </div>
</div>
{% endblock main %}